@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$body-size: 24px;

$purple: #8A4D76;
$pink: #FA7C91;
$red: #f13c3c;
$green: #29b228;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $red;
$grey-light: $beige-light;
$primary: $pink;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "bulma/bulma.sass";
@import 'datatables.net-bm/css/dataTables.bulma.css';

h1.title, {
    margin-top: 2rem;
    text-align: center
}

 .subtitle {
     text-align: center
 }

.user-links {
    margin: 0 -2vmin
}

.user-link {
    display: inline-block;
    text-decoration: none;

    .user-image {
        width: 25vmin;
        height: 25vmin;
        margin: 2vmin;
        object-fit: cover;
        text-align: center;
        line-height: 25vmin;
        font-size: 4vmin;
        color: white;
        text-shadow: 0 0 1vmin black;
        box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
        background-size: cover;
    }

    &:hover .user-image {
        opacity: .8;
        box-shadow: 0 0 1vmin rgba(0, 0, 0, 1);
    }
}

.dtr-control {
    outline: 2px solid $primary;
    outline-offset: -1px;
    background: $white;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    &:hover {
        background: $primary;
        color: $white;
    }
}

.dtr-details {
    outline: 2px solid $primary;
    outline-offset: -1px;
    background: $white;
    border-radius: 5px;
    padding: 4px;
}

table {
    font-size: 16px;
}
.pagination {
    font-size: 16px;
}

.notification {
    text-align: center
}
